workflows/lead-capture-form-auto-email-telegram-approval/Lead-capture-form-5-minutes-auto.json
{
  "name": "Lead-capture-form-5-minutes-auto",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Please extract the following data from incoming message:\n-- company \n-- person name\n-- text/comments if exists\nand return it STRICTLY as json with these 3 fields, please do not include other text or data:\n{\n  \"name\": \"John Doe\",\n  \"company\": \"Acme Corporation\",\n  \"text\": \"This is a sample text message.\"\n}\n\nIncoming message:\n\n {{ $json.snippet }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "7fa7b408-a964-4989-9080-73c5bfdc33bb",
      "name": "Extract lead info",
      "credentials": {
        "openAiApi": {
          "id": "5kcNdHwmxkksinAE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "filters": {
          "sender": "denis911@gmail.com"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -192,
        128
      ],
      "id": "d45ad996-c03f-4ed2-a9d2-6480f7b3481e",
      "name": "On message from web form Gmail trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "RltXB1O1uA7eDR1j",
          "name": "GCP and Gmail access for denis911ai"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "= Please write a reply to web form inquiry by peforming folowing steps:\n1) Look up company from the 'company field' - collect information from the web about company recent sales activities and achievements.\n2) Create a personalised reply for the web inquiry similar to following template, use information from web research in the previous step 1:\n\nHi << 'name' >>,\n\nThanks for reaching out.\n\nI had a quick look at << 'company' >> — just to make sure I understand the context - << add relevant information from the 'text' field if any >>. Could you share a bit more about what you’re hoping to discuss?\n\nIf it makes sense, I’d be happy to set up a short Zoom call. Let me know what works for you.\n\nBest regards,  \nDenis\n\n\n3) Make the text smooth, looking like a real person reply, remove all UTMs, web links or other markup - as people would not do it in a simple friendly text message. It should fit to a small email or SMS - no need to include all company background, only 1-2 relevant facts about sales organization and achievements.  \n\n4) web form inquiry is here:  {{ $json.output[0].content[0].text }}\n"
            }
          ]
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "medium"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        176,
        208
      ],
      "id": "752c8fca-4e1d-413f-b16e-6d55a72f70e2",
      "name": "Write a reply",
      "credentials": {
        "openAiApi": {
          "id": "5kcNdHwmxkksinAE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Please look at the text and remove all links, utms and other markup - so it should look like a human wrote a short email or sms message. Main idea is to ask politely if the person is looking to engage in the conversation and if yes ask what time would work the best.\n\nStructure:\n1. Thank the person\n2. Confirm company / context briefly\n3. Ask one clarifying question\n4. Offer a Zoom call politely\n\n\nText is here:   {{ $json.output[0].content[0].text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        368,
        0
      ],
      "id": "aa20f238-edb5-429c-a972-63a9e77bc16f",
      "name": "Make text look more human",
      "credentials": {
        "openAiApi": {
          "id": "5kcNdHwmxkksinAE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "8270885371",
        "message": "=New lead captured from:\n{{ $('Extract lead info').item.json.output[0].content[0].text }}\n;\nReply text message for approval:\n{{ $json.output[0].content[0].text }}\n\n",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        224
      ],
      "id": "8fc8c529-3659-4a6a-8089-c7e734638f58",
      "name": "Send a text message",
      "webhookId": "ba8d8a17-1c78-43dc-86b2-2638f6d0f364",
      "credentials": {
        "telegramApi": {
          "id": "1RQVEEMAYkvuM1WA",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "45a266a7-a97e-46b6-a8e6-1ddfd4906b33"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c16a1105-a077-493d-9a1a-c63e3bc907dd",
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        768,
        224
      ],
      "id": "d1540469-0a40-45d3-a6dd-76e5db88de04",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "denis911ai@gmail.com",
        "subject": "Approved email ready to send - leads capture form",
        "emailType": "text",
        "message": "={{ $('Make text look more human').item.json.output[0].content[0].text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        752,
        0
      ],
      "id": "0a10692e-5601-4065-b7b3-286948661cdd",
      "name": "APPROVED - Send a message",
      "webhookId": "15dc11aa-95f7-4508-bda0-a76553c2a96e",
      "credentials": {
        "gmailOAuth2": {
          "id": "RltXB1O1uA7eDR1j",
          "name": "GCP and Gmail access for denis911ai"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "denis911ai@gmail.com",
        "subject": "Rejected message - lead capture form",
        "emailType": "text",
        "message": "=ATTENTION - THIS MESSAGE WAS REJECTED !!!\n---\n\n {{ $('Make text look more human').item.json.output[0].content[0].text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        976,
        240
      ],
      "id": "d5523279-b6b8-4077-8320-4a50cd8c9fa9",
      "name": "REJECTED message from lead capture form",
      "webhookId": "d49eac96-0174-481c-bf19-9dbadfe54d63",
      "credentials": {
        "gmailOAuth2": {
          "id": "RltXB1O1uA7eDR1j",
          "name": "GCP and Gmail access for denis911ai"
        }
      }
    }
  ],
  "pinData": {
    "On message from web form Gmail trigger": [
      {
        "json": {
          "id": "19b84866b1b6b071",
          "threadId": "19b84866b1b6b071",
          "snippet": "Company = Arrow electronics gmbh Name = Konstantin Hanschmann Text = Please how to get in contact, we need automation services consultancy. BR, Konni",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 6170,
          "historyId": "3892",
          "internalDate": "1767454948000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_PERSONAL",
              "name": "CATEGORY_PERSONAL"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "From": "Denis Kuramshin <denis911@gmail.com>",
          "Subject": "Lead capture form",
          "To": "denis911ai <denis911ai@gmail.com>"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Extract lead info": [
      {
        "json": {
          "output": [
            {
              "id": "msg_038dcfd55c16f28f0069600af8040081a2973a3106095ad921",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "type": "output_text",
                  "annotations": [],
                  "logprobs": [],
                  "text": "{\n  \"name\": \"Konstantin Hanschmann\",\n  \"company\": \"Arrow electronics gmbh\",\n  \"text\": \"Please how to get in contact, we need automation services consultancy. BR, Konni\"\n}"
                }
              ],
              "role": "assistant"
            }
          ]
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Write a reply": [
      {
        "json": {
          "output": [
            {
              "id": "msg_0517bdee1eef55210069600afc17a081938b0280a9431d7284",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "type": "output_text",
                  "annotations": [],
                  "logprobs": [],
                  "text": "Hi Konstantin,\n\nThanks for reaching out.\n\nI had a quick look at Arrow Electronics GmbH — just to make sure I understand the context, you're seeking automation services consultancy. Could you share a bit more about what you’re hoping to discuss?\n\nIf it makes sense, I’d be happy to set up a short Zoom call. Let me know what works for you.\n\nBest regards,  \nDenis "
                }
              ],
              "role": "assistant"
            }
          ]
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Make text look more human": [
      {
        "json": {
          "output": [
            {
              "id": "msg_0d4b760250547a970069600afed48481a28a4b6c6532b2f0b8",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "type": "output_text",
                  "annotations": [],
                  "logprobs": [],
                  "text": "Hi Konstantin,\n\nThanks for reaching out.\n\nI had a quick look at Arrow Electronics GmbH and wanted to confirm—I understand you're looking for automation services consultancy. Could you please share a bit more about what you’d like to discuss?\n\nIf it sounds good, I’d be happy to set up a short Zoom call. Just let me know what time works best for you.\n\nBest regards,  \nDenis"
                }
              ],
              "role": "assistant"
            }
          ]
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Send a text message": [
      {
        "json": {
          "data": {
            "approved": true
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Extract lead info": {
      "main": [
        [
          {
            "node": "Write a reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On message from web form Gmail trigger": {
      "main": [
        [
          {
            "node": "Extract lead info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write a reply": {
      "main": [
        [
          {
            "node": "Make text look more human",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make text look more human": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "APPROVED - Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "REJECTED message from lead capture form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "APPROVED - Send a message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "343d1c31-c9db-470c-9eb7-1d0d62f729e0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1737976393e16e2cd1cccedea3489cc2fd5d24567be6af890860ab36c2b64540"
  },
  "id": "SbJNnr6jzjCxiiXF",
  "tags": []
}